# Moxie Front-end Git Ignore Rules
# Target dependencies, builds, and configuration keys

# Ignore local packages & locks
/node_modules/

# Ignore build directory
/build/
/dist/
dist/

# Miscellaneous test/temp files
/coverage/
.pnp
.pnp.js
*.log
*.tmp
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# OS specific files
.DS_Store
Thumbs.db

