# =========================================================
# DJANGO CORE SETTINGS
# =========================================================

DJANGO_SECRET_KEY=e@^#=hal$jqy8!98s@fo&zd1$i%ho61=j)7_q1ttd#o6t=qq$x

DJANGO_DEBUG=False
DEBUG=False


# =========================================================
# DJANGO HOSTS
# =========================================================

DJANGO_ALLOWED_HOSTS=moxie-0avp.onrender.com

ALLOWED_HOSTS=moxie-0avp.onrender.com


# =========================================================
# CORS
# =========================================================

CORS_ALLOWED_ORIGINS=https://moxie-dev.netlify.app,http://localhost:3000,http://127.0.0.1:3000


# =========================================================
# CSRF
# =========================================================

CSRF_TRUSTED_ORIGINS=https://moxie-dev.netlify.app,https://moxie-0avp.onrender.com,http://localhost:3000,http://127.0.0.1:3000


# =========================================================
# RENDER POSTGRESQL
# =========================================================

DATABASE_URL=postgresql://moxie_user:Gs5hUIaorWAvIYBxJt4SwThwlpBsk58c@dpg-da60k867bikc73aint5g-a/moxie_db_7by1


# =========================================================
# RAZORPAY TEST
# =========================================================

RAZORPAY_KEY_ID=rzp_test_TTDkrx0oaFz5dx

RAZORPAY_KEY_SECRET=T8zLvb6wTREOWDKwKCsGb0Ob

RAZORPAY_WEBHOOK_SECRET=placeholder_webhook_secret


# =========================================================
# PRODUCTION SECURITY
# =========================================================

SECURE_SSL_REDIRECT=True

SECURE_HSTS_SECONDS=31536000

SESSION_COOKIE_SECURE=True

CSRF_COOKIE_SECURE=True